
/.idea/
/.idea/workspace.xml
.DS_Store
*.swp
report/
.buildpath
.project
.settings
.classpath
target/
*/*.iml
*.iml
*.data
*.log
bin/
*.dat
snapshot/

web/src/main/webapp/WEB-INF/*.properties
web/src/test/resources/*.properties

